
<div class="container mt-3">

    <h1>Lista de itens</h1>
    <a href="#" class="btn btn-primary">Adicionar</a>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Casa</th>
                <th>Raça</th>
                <th>Altura</th>
                <th>Nascimento</th>
                <th>Imagem</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>id</td>
                <td>nome</td>
                <td>casa</td>
                <td>raca</td>
                <td>altura</td>
                <td>nascimento</td>
                <td><img src="" alt="thumbnail" class="img-thumbnail"></td>
                <td><a href="">Editar</a></td>
            </tr>
            
        </tbody>
    </table>
</div>